:root{
    --backround-color: linear-gradient(#800020, #000000);
    --secondarycolor: #800020;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: var(--secondarycolor);
    background-image: var(--backround-color);
    color: #ffffff;
}

header {
    background-color: #1d1d2a;
    color: white;
    padding: 10px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 40px;
    cursor: pointer;
}

.navbar-right a {
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}

.btn-nav-right-anmelden {
    color: #f6be00;
    cursor: pointer;
    background-color: #0716a3;
    padding: 10px;
    border-radius: 5px;
}

.btn-nav-right-anmelden:hover {
    color: #ffffff;
    background-color: #4b55ab;
    border-radius: 5px;
}

.btn-nav-right-registrieren {
    color: #f67300;
    cursor: pointer;
}

.btn-nav-right-registrieren:hover {
    color: #ffffff;
}

.profilkram{
    height: 100%;
    width: 100%;
}

.profil{
    /* background-color: #f6be00; */
    display: flex;
    min-width: 500px;
    height: 60%;
    justify-content: space-around;
}

.profil-bild{
    /* background-color: #000000; */
    padding: 20px;
}
.profil-bild-image {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
}

.label-profil{
    font-weight: bold;
    font-size: 22px;
}

button {
    padding: 10px 15px;
    color: var(--secondarycolor);
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #290911;
    color: #ffffff;
}

/* .profil-info{
    background-color: #0716a3;
} */

.profil-stats{
/* background-color: #f67300 */
margin-top: 20px;

}
.stats{
    margin-right: 50px;
}

.profil-bio{
    /* background-color: #230a0a; */
    margin-top: 20px;

}

.flexbox {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.gallerie {
    justify-content: space-around;
    margin: 0 auto; /* Horizontal zentrieren */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.gallerie-img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin: 5px;
    border-radius: 5px;
}

/* Standardregel für Bildschirme mit einer Breite größer als 900px */
.gallerie {
    display: grid;
    justify-content: center;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

/* Media Query für Bildschirme mit einer Breite von höchstens 900px */
@media screen and (max-width: 900px) {
    .gallerie {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        justify-content: center;
    }
}

/* Media Query für Bildschirme mit einer Breite von höchstens 600px */
@media screen and (max-width: 600px) {
    .gallerie {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        justify-content: center;
    }
}

/* Media Query für Bildschirme mit einer Breite von höchstens 300px */
@media screen and (max-width: 300px) {
    .gallerie {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Beispiel: 2 Bilder in einer Reihe */
        justify-content: center;
    }
}


footer {
    background-color: var(--backround-color);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 100px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.footer-section {
    flex: 1;
}

.footer-section h3 {
    color: #fff;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section li {
    margin-bottom: 8px;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}


