:root {
    --background-color: linear-gradient(#800020, #000000);
    --secondary-color: #800020;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: var(--secondary-color);
    background-image: var(--background-color);
    color: #ffffff;
}

header {
    background-color: #1d1d2a;
    color: white;
    padding: 10px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 40px;
    cursor: pointer;
}

.navbar-right a {
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}

.btn-nav-right-anmelden {
    color: #f6be00;
    cursor: pointer;
    background-color: #0716a3;
    padding: 10px;
    border-radius: 5px;
}

.btn-nav-right-anmelden:hover {
    color: #ffffff;
    background-color: #4b55ab;
    border-radius: 5px;
}

.btn-nav-right-registrieren {
    color: #f67300;
    cursor: pointer;
}

.btn-nav-right-registrieren:hover {
    color: #ffffff;
}

.profilkram{
    height: 100%;
    width: 100%;
}

.profil{
    /* background-color: #f6be00; */
    display: flex;
    min-width: 500px;
    height: 60%;
    justify-content: space-around;
}

.profil-bild{
    /* background-color: #000000; */
    padding: 20px;
}
.profil-bild-image {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
}

.label-profil{
    font-weight: bold;
    font-size: 22px;
}

button {
    padding: 10px 15px;
    color: var(--secondary-color);
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #290911;
    color: #ffffff;
}

/* .profil-info{
    background-color: #0716a3;
} */

.profil-stats{
/* background-color: #f67300 */
margin-top: 20px;

}
.stats{
    margin-right: 50px;
}

.profil-bio{
    /* background-color: #230a0a; */
    margin-top: 20px;

}

.flexbox {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/* Gallerie */
.gallerie {
    display: grid;
    justify-content: center;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    max-width: 80%;
    margin-top: 20px;
}

.image-container img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin: 5px;
    border-radius: 5px;
}

#callback {
    background-color: #dbe526;
    color: #ffffff; 
    padding: 10px; 
    border-radius: 5px; 
    text-align: center; 
    font-size: 2em; 
    max-width: 600px;
    max-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 35%;
  }

  #myBar {
    width: 1%;
    height: 35px;
    background-color: var(--secondary-color);
    border-radius: 5px;
  }

footer {
    background-color: var(--backround-color);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 100px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.footer-section {
    flex: 1;
}

.footer-section h3 {
    color: #fff;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section li {
    margin-bottom: 8px;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    color: #000000;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.anmelden{
    margin-top: 10%;
    display: flex;
    margin-bottom: 10%;
    text-align: center;
    display: flex;
    flex-direction: column; /* Änderung zu flex-direction: column; */
    align-items: center;
    color: #ffffff;
}
.anmelden h1 {
    margin-bottom: 50px; /* Platzierung zwischen dem Titel und dem Formular hinzufügen */
}


.submit {
    color: #ffffff;
    cursor: pointer;
    background-color: #07a348;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.submit:hover {
    color: #ffffff;
    background-color: #4bab70;
    border-radius: 5px;
}

#output{
    margin-top: 30px;
}

/* Media Query für Bildschirme mit einer Breite von höchstens 900px */
@media screen and (max-width: 900px) {
    .gallerie {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        justify-content: center;
    }
}


/* Media Query für Bildschirme mit einer Breite von höchstens 600px */
@media screen and (max-width: 600px) {
    .gallerie {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        justify-content: center;
    }
    .gallerie-img{
        display: flex;
    }
}

/* Media Query für Bildschirme mit einer Breite von höchstens 400px */
@media screen and (max-width: 400px) {
    .gallerie {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .gallerie-img {
        width: 100%;
        max-width: 150px;
        margin: 5px;
    }
    .nav {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .logo {
        margin-bottom: 10px; /* Abstand zwischen Logo und Anmelden/Registrieren-Links */
    }

    .navbar-right {
        display: flex;
        flex-direction: column; /* Änderung auf column für die gewünschte Anordnung */
        align-items: center; /* Zentrierung der Links */
        margin-top: 10px; /* Abstand zwischen Anmelden/Registrieren-Links */
    }

    .navbar-right a {
        margin: 5px 0; /* Abstand zwischen Anmelden/Registrieren-Links */
    }
    header {
        background-color: #1d1d2a;
        color: white;
        padding: 10px;
        width: 120%;
    }

    .flexbox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profil {
        width: 100%; /* Die volle Breite des Bildschirms nutzen */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profil-bild {
        text-align: center; /* Zentriert das Profilbild */
    }

    .profilkram {
        width: 100%; /* Die volle Breite des Bildschirms nutzen */
        text-align: center;
    }
}

